.DokonlarModal {
  width: 1259px;
  z-index: 9999;
  margin-top: 80px;
  margin-left: 560px;
}

.modalContainer {
  width: 400px;
  height: 470px;
  border-radius: 12px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 25px;
}

.titleCloseBtn {
  margin-left: 320px;
}

.titleCloseBtn button {
  background-color: transparent;
  border: none;
  font-size: 25px;
  cursor: pointer;
}

.modalContainer .CreateShop {
  margin-top: 10px;
}

.CreateShopinput {
  width: 346px;
  height: 56px;
  padding: 0px 12px 0px 12px;
  border-radius: 6px;
  margin: 10px 0;
  border: 1px solid rgba(58, 53, 65, 0.23);
}

.modalContainer .footer {
  flex: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Createbtn {
  width: 150px;
  height: 45px;
  margin: 10px;
  border: none;
  background-color: rgba(145, 85, 253, 1);
  color: white;
  border-radius: 8px;
  font-size: 20px;
  cursor: pointer;
}

.DokonlarModal {
  width: 1259px;
  position: fixed;
  z-index: 9999;
}

.modalContainer {
  width: 400px;
  height: 600px;
  border-radius: 12px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 25px;
}

.titleCloseBtn {
  display: flex;
  justify-content: flex-end;
}

.titleCloseBtn button {
  background-color: transparent;
  border: none;
  font-size: 25px;
  cursor: pointer;
}

.modalContainer .CreateShop {
  margin-top: 10px;
}

.CreateShopinput {
  width: 346px;
  height: 56px;
  padding: 0px 12px 0px 12px;
  border-radius: 6px;
  margin: 10px 0;
  border: 1px solid rgba(58, 53, 65, 0.23);
}

.modalContainer .footer {
  flex: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}