.table1 {
    margin-left: 280px;
    margin-top: 50px;
    border-collapse: collapse;
    overflow: hidden;
}

th,
td {
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.2);
}

th {
    text-align: left;
}

thead th {
    width: 300px;
    background: var(--light-states-active-menu,
            linear-gradient(270deg, #9155fd 0%, #c6a7fe 100%)) !important;
}

tbody tr:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

tbody td {
    position: relative;
}

tbody td:hover:before {
    content: "";
    background-color: rgba(255, 255, 255, 0.2);
    z-index: -1;
}