.containerr {
  height: 800px;
  overflow-y: scroll;
}

.buyurtma_direktor_table {
  border-collapse: collapse;
  box-shadow: 7px 7px 7px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin-left: 300px;
  cursor: pointer;
  margin-left: 350px;
  margin-top: 50px;
  margin-bottom: 30px;
  border-radius: 14px;

}

.buyurtma_direktor_table:hover{
  box-shadow: 7px 7px 7px 4px rgba(145, 85, 253, 1);
}


.table_td_th {
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.2);
  color: rgb(108, 96, 96, .8);
}

thead .th {
  text-align: left;
  font-weight: 400;
  text-transform: uppercase;
  color: rgba(50, 48, 48, 0.8);
}

thead th {
  background-color: #55608f;
}

tbody .tr:hover {
  background-color: rgba(15, 14, 14, 0.2);
}

tbody .td {
  position: relative;
}

tbody .td:hover:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -9999px;
  bottom: -9999px;
  background-color: rgba(255, 255, 255, 0.2);
  z-index: -1;
}

.mahsulotCard{
  position: relative;
  margin-left: 320px;
  top: -50px;
}

.mahsulotAbout h4{
  font-size: 18px;
  font-weight: 400;
  color: rgb(0, 0, 0);
  word-spacing: 5px;
  line-height: 30px;
}

.mahsulotSpan{
     font-size: 17px;
     font-weight: 400;
     color: rgb(92, 89, 89);
}