.modalContainerBuyurtmalar {
    width: 400px;
    height: 580px;
    border-radius: 12px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 25px;
    margin-left: 800px;
    z-index: 9999;
}

.CreatebtnBuyurtmalarModal {
    width: 150px;
    height: 45px;
    margin: 10px;
    border: none;
    background-color: rgba(145, 85, 253, 1);
    color: white;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
    margin-left: 100px;
}