.OmborlarTable {
  margin-right: 22px;
  margin-left: 300px;
  box-shadow: 7px 7px 7px 4px rgb(198, 197, 201);
  border-radius: 16px;
  margin-bottom: 30px;
  height: 100vh;
  overflow-y: scroll;
  scrollbar-width: none;
}

.OmborlarTable::-webkit-scrollbar {
  display: none;
}

.OmborlarTable:hover {
  background-color: rgb(240, 236, 247);
  transform: scale(1.003);
  box-shadow: 7px 7px 7px 4px rgba(145, 85, 253, 1);
}