@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #F4F5FA;
}

/* ------- custom scrollbar------ */

::-webkit-scrollbar{
  width: 6px;
}

::-webkit-scrollbar-track{
  background: rgb(255, 255, 255);
}

::-webkit-scrollbar-thumb{
  border-radius: 8px;
  background: linear-gradient(rgb(189, 98, 231) ,#815af5) ;
}

body::-webkit-scrollbar{
  display: none;
}

html{
  scrollbar-width: none;
}