.modal {
    display: none;

}

.modal-wrapper {
    display: flex;
    align-items: center;
    background-color: rgba(200, 200, 200, 0.8);
    height: 80vh;
    width: 100%;
    position: fixed;
    justify-content: center;
    text-align: center;
}

.modal-inner {
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.active-modal {
    display: block;
}